
/*Begin content*/

.nav-bar {
	height:75px;
}
.logo {
	height: 50px;
	padding-top: 20px;
}

.nav-logo {
	display:inline-block;
}
.nav-links, .nav-links > li {
	display: inline-block;
	float: right;
}

.nav-links > li {
	padding: 30px 20px;

}

