
/*Begin body*/
.container {
	max-width: 900px;
}


/*Begin Nav*/

.nav-color {
	background-color: white;
	width: 100%;
	height: 7rem;
	position: fixed;
	z-index: 9999;
	border: 1px solid lightgrey;
}

.navbar-custom-fixed {
	margin: 0 auto;
}

.navbar {
	height:7rem;
}

.logo {
	height: 50px;
	padding-top: 20px;
}

.nav-logo {
	display:inline-block;
}


.nav-links {
	float: right;
	padding-top:1.6rem;
}

.nav-links > li {
	padding: 1rem 1rem;
}

li {
	font-family: 'Arimo', sans-serif;
	font-size:14px;
	font-weight: 600;
}

/*Begin Juumbotron*/


.background-image {
	background: url('images/nightime.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 35.5rem;
	text-align: center;
	color: white;
	padding-top: 75px;
}



p {
	font-family: 'Arimo', sans-serif;
}

.jumbo-container > p {
	margin-top: 35px;
}

.jumbo-container > h1 {
	font-family: 'Pacifico', cursive;

}

.jumbo-logo {
	height: 15.3rem;
	margin-top: 10px; 
}

/*Begin About Me Section*/

.me {
	margin: 0 auto;
}

.about-me {
	margin-top: 0;
}

.about-me-image {
	margin-bottom:20px;
}
/*Begin icon Section*/

.icon-container {
	padding: 5rem;
}

.icon-background {
	background-color: #05C7F2;
}

.icon {
	margin: 0 auto;
	display:block;
	height: 100px;
}

.icon-section > p, .icon-section >h3 {
	text-align: center;
}

/*Begin Portfolio Section*/

.text-center > h2 {
	margin-bottom: 25px;
}

.bottom-row {
	margin-bottom: 3rem;
}


.portfolio-item {
	margin-top: 20px ;
	margin-bottom: 20px;
}


/*Begin Footer Section*/

.footer-background {
	background-color: #8CBF3F;
}

li {
	list-style-type: none;
	display: inline-block;
}

.social {
	padding-left: 0;
	text-align: center;
}


.social-rule {
	margin: 60px 0;
}

.footer > h3 {
	padding-bottom: 25px;
}

.social > li {
	padding: 0 10px 0 10px;
}

.footer {
	margin-bottom: 60px;
}


/*Begin Media Queries Section*/


@media (max-width: 767px) {
	.background-image {
		height: 22rem;
	}
	.jumbo-logo {
	height: 9.1rem;
	margin-top: 0;
	}
	
}

@media (min-width: 480px) and (max-width: 767px) {
	.nav-links > li {
	padding: 5px 5px;
	}
	.nav-logo {
		text-align: center;
		display: block;
		text-align: center;
	}
	.jumbo-logo {
	height: 5.1rem;
	
	}
}

@media (max-width: 480px)   {
	.nav-color {
	height:10rem;
	}
	.nav-links {
		text-align: center;
		width: 100%;
		padding: 10px 50px;
	}
	.navbar-custom-fixed {
	position:static;
	}
	.nav-color {
		position: relative;
	}
	.logo {
		height: 40px;
	}
}